@model IEnumerable<MyFirstApp.Models.Fruits>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>SecretButton</title>
</head>
<body>
    <div>
        <p> Это секретная страница</p>
       

    </div>
</body>
</html>
